<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574416250829-mlah248fookbgh2ph28cebo5qjd31aai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574416250829-mlah248fookbgh2ph28cebo5qjd31aai</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>574416250829-jc5u4ogs6dugsb7n9n4iothankgd0fva.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPamg0kQMrbUI1YTWVPQu48-BMA2CuvbI</string>
	<key>GCM_SENDER_ID</key>
	<string>574416250829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hobien.hbpartner</string>
	<key>PROJECT_ID</key>
	<string>hobienpartner</string>
	<key>STORAGE_BUCKET</key>
	<string>hobienpartner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574416250829:ios:9b0f8be4752a8ec4310684</string>
	<key>DATABASE_URL</key>
	<string>https://hobienpartner.firebaseio.com</string>
</dict>
</plist>